/**
 * @file
 * Default styles for Commerce packing slip.
 */

.packing-slip table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
  border-collapse: collapse;
}

.packing-slip .logo {
  margin: 0 0 20px;
  float: right;
}

.packing-slip .order-view > .view-content {
  width: 76%;
  float: left;
}

.packing-slip .attachment-before .view {
  margin: 20px 0 0;
  float: left;
}

.packing-slip .attachment-before:after {
  content: '';
  display: block;
  clear: both;
}

.packing-slip .attachment-after {
  width: 20%;
  float: right;
}

.packing-slip .attachment-before .order-view > .view-content,
.packing-slip .attachment-after .order-view > .view-content {
  width: 100%;
}

.packing-slip .field-name-commerce-order-total .commerce-price-formatted-components {
  width: 33%;
  margin-left: auto;
}

.packing-slip .contextual-links-wrapper {
  display: none;
}

.packing-slip .views-field-field-images {
  width: 100px;
}

.packing-slip .attachment-before .order-number {
  display: inline-block;
  margin: 0 0 5px;
  font-size: 18pt;
  font-weight: bold;
  line-height: 1;
}

.packing-slip .attachment-before .order-date {
  display: inline-block;
  margin-left: 10px;
}

.packing-slip .attachment-before .contact-email {
  margin: 0 0 20px;
}

.packing-slip .attachment-after .wrapper {
  margin: 0 0 20px;
  border: 1px #bebfb9 solid;
}

.packing-slip .attachment-after .wrapper .label {
  display: block;
  padding: 5px 10px;
  background: #e0e0e0;
  border-bottom: 1px #bebfb9 solid;
}

.packing-slip .attachment-after .wrapper .content {
  padding: 10px;
}

.packing-slip .attachment-after .customer-info > div {
  margin: 0 10px;
}

.packing-slip .views-field-commerce-unit-price,
.packing-slip .views-field-commerce-total,
.packing-slip .views-field-quantity {
  width: 75px;
  white-space: nowrap;
}

.packing-slip .component-total {
  text-align: right;
}

@media print {
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 8pt;
  }

  #branding,
  #commerce-message-message-form,
  #console,
  #footer,
  .region-page-top,
  .tabs {
    display: none;
  }

  table td,
  table th {
    margin: 0;
    padding: 8px 10px;
    border: 0;
    color: #000;
    font-size: 8pt;
    vertical-align: middle;
  }

  tr.even,
  tr.odd {
    background: #f1f1f1;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #bebfb9;
  }

  tr.odd {
    background: #fff;
  }

  table th {
    padding: 5px 10px;
    background: #e0e0e0;
    border: 1px #bebfb9 solid;
    font-weight: normal;
  }

  table th a {
    display: block;
    position: relative;
  }
}
